

img {
  height: 200px;
  width: 150px;
  margin-top: 18px;
  border-radius: 50px;
  -moz-box-shadow: 0 0 40px #ccc;
  -webkit-box-shadow: 0 0 40px #ccc;
  box-shadow: 0 0 40px #ccc;
  opacity: 0.8;
  border: 2px solid rgba(132, 133, 135, .5);
}

header {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

#toDoList {
  font-family: 'Special Elite', cursive;
}

h1 {
  border-top: 3px double #434647;
  border-bottom: 3px double #434647;
  padding: 18px 15px 15px 15px;
  color: rgba(67, 70, 71, 1);
}

button {
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  background-color: rgba(255, 251, 209, .7);
  padding: 5px 3px 3px 3px;
  border-radius: 3px;
  color: rgba(67, 70, 71, 1);
}
input {
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  padding: 5px 3px 3px 3px;
}

#addToDo {
  background-color: rgba(155, 222, 247, .7);
}


#raised-platform {
  height: 500px;
  width: 400px;
  -moz-box-shadow: 0 0 40px #ccc;
  -webkit-box-shadow: 0 0 40px #ccc;
  box-shadow: 0 0 40px #ccc;
  padding: 25px;
  margin-left: 40%;
  border-radius: 70px;
  background-color: rgba(255, 237, 201, .8);
}
body {
  background-image: url("images/MB2-background.jpeg");
}

/*li {
  display: block;
}*/
